.siteHeader {
  display: flex;
  background-color: #e2eae1;
  height: 100px;
}

.goBackButton {
  font-size: 32px;
  padding: 35px;
  text-align: left;
}

.title {
  text-align: center;
  font-size: 48px;
}

.text {
  padding-left: 73px;
  border-radius: 20px;
  width: 387px;
}
