.siteHeader {
  max-width: 1920px;
  height: 100px;
  display: flex;
  background-color: #e2eae1;
  height: 100px;
}

.goBackButton {
  font-size: 32px;
  padding: 24px;
  text-align: left;
  color: #707070;
}

.titleArea {
  text-align: center;
  padding: 16px;
  font-size: 48px;
}

.text {
  padding-left: 73px;
  border-radius: 20px;
  width: 387px;
}
