.siteHeader {
  max-width: 100%;
  min-width: 980px;
  height: 100px;
  display: flex;
  padding: 0 4%;
  justify-content: space-between;
  background-color: #e2eae1;
}

.goBackButton {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 24px;
}

.goBackButton button {
  background-color: floralwhite;
  letter-spacing: 0.12em;
  width: 160px;
  height: 50px;
  border-radius: 20px;
  border: solid;
  cursor: pointer;
}

.goBackButton button:hover {
  background-color: #fff3b8;
  margin-top: 5px;
}

.titleArea {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 550;
}

.searchArea {
  position: relative;
  display: flex;
  align-items: center;
}

.GrSearch {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.searchInputArea {
  padding-left: 40px;
  border-radius: 20px;
  border: solid;
  width: 248px;
  height: 50px;
}

.searchInputArea::-webkit-search-cancel-button {
  position: absolute;
  right: 10px;
}
