table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 30px;
}

table tr:hover td {
  background-color: #fff3b8;
}

table th {
  width: auto;
  background-color: #a9ceec;
}

table td {
  text-align: center;
  padding: 1em;
}

.bg-gray {
  background-color: #dddddd;
}
