table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 30px;
}

table th {
  width: auto;
  background-color: #cccccc;
}

table td {
  text-align: center;
  padding: 1em;
}

.bg-gray {
  background-color: #dddddd;
}
