table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 30px;
}

table tr:hover td {
  background-color: #fff3b8;
}

table th {
  width: auto;
  padding: 1em;
  background-color: #a9ceec;
}

table td {
  padding: 1em;
  text-align: center;
  cursor: pointer;
}

.itemCode {
  width: 120px;
}

.category {
  width: 120px;
}

.stock {
  width: 48px;
}
.itemName {
  width: 360px;
}

.lastOrder {
  width: 120px;
}
.bg-gray {
  background-color: #dddddd;
}
